.navbar-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  background-color: #283618;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.navbar-container > a {
  color: whitesmoke;
  text-decoration: none;
}

.navbar-container .active {
  text-decoration: underline;
}
